* {
  padding: 0;
  margin: 0;
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#editor-box {
  margin: 2rem auto;
  line-height: 1.5;
}

.editor-heading, .preview-heading {
  background: rgb(146, 146, 146);
  padding: 0 1rem;
}

#preview-box {
  background: #ccc;
  width: 70vw;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  border: 2px solid rgb(82, 75, 75);
  line-height: 1.7;
}

#preview {
  padding: 0 0 2rem 2rem;
}

img {
  width: 250px;
  height: 250px;
}

@media screen and (max-width: 800px){
  #preview-box {
    width: 90vw;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  #preview-box {
    width: 98vw;
    font-size: 0.6rem;
    margin: auto;
  }

  textarea#editor {
    width: 95vw;
  }

  #editor-box {
    width: 95vw;
  }
}


